{% extends 'admin/base.html.twig' %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="pt-3 container-fluid stats-cards">
            <h1 class="no-underline">Statistiques</h1>
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="title mb-1">
                                        Articles en ligne
                                    </div>
                                    <div class="h5 count">{{ count_onl_articles }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="title mb-1">Commentaires</div>
                                    <div class="h5 count">{{ count_com_total }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comment fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="title mb-1">
                                        Commentaires à valider
                                    </div>
                                    <div class="h5 count">{{ count_com_pending }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comment-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="title mb-1">
                                        Utilisateurs inscrits
                                    </div>
                                    <div class="h5 count">{{ count_reg_users }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-3 container">
            <p class="h2 no-underline mb-3">Les 3 derniers commentaires</p>
            <div class="row">
                {% for comment in lastComments %}
                    <div class="comment-card col-12 shadow">
                        <p class="content">
                            {{ comment.content }}
                        </p>
                        <hr>
                        <div class="bottom">
                            <div class="author col-lg-6 col-sm-12">
                                <p><span>Par: </span>{{ comment.user_name }}</p>
                                <p><span>Date: </span>{{ comment.created_at|date('d/m/Y à H:i:s') }}</p>
                                <p><span>Article: </span><a href="/blog/{{ comment.artSlug }}" target="_blank">{{ comment.artTitle }}</a></p>
                            </div>
                            <div class="actions col-lg-3 col-sm-12">
                                {% if not comment.online %}
                                    <a href="/dashboard/comment/{{ comment.id }}/validate" class="btn btn-sm btn-outline-success mr-1">Valider</a>
                                {% else %}
                                    <a href="/dashboard/comment/{{ comment.id }}/suspend" class="btn btn-sm btn-outline-warning text-dark mr-1">Suspendre</a>
                                {% endif %}
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#dcom_{{ comment.id }}">Supprimer</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="dcom_{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="dcom_{{ comment.id }}_label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dcom_{{ comment.id }}_label">Suppression du commentaire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous sûr de vouloir supprimer le commentaire ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <a href="/dashboard/comment/{{ comment.id }}/delete" class="btn btn-danger">Confirmer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="ml-3">Aucun commentaire pour le moment.</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
