{% extends 'admin/base.html.twig' %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0">
        <div class="pt-3 pb-5 container px-0">
            <h1 class="no-underline ml-3">Profil</h1>
            <div class="d-flex flex-wrap">
                <div class="col-lg-12 mb-2">
                    <div class="card shadow">
                        <div class="card-header">
                            Mes infos
                        </div>
                        <div class="col-12 card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="profilFirstname" id="currEmail">Nom</label>
                                        <input id="profilFirstname" type="text" class="form-control" name="firstName" value="{{ user.first_name }}" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="profilLastname" id="currEmail">Prénom</label>
                                        <input id="profilLastname" type="text" class="form-control" name="lastName" value="{{ user.last_name }}" required>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <label for="profilUsername" id="currEmail">Nom d'utilisateur</label>
                                        <input id="profilUsername" type="text" class="form-control" name="userName" value="{{ user.user_name }}" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="profilEmail" id="currEmail">Email</label>
                                        <input id="profilEmail" type="email" class="form-control" name="email" value="{{ user.email }}" required>
                                    </div>
                                    <div class="col mt-4">
                                        <button class="btn btn-primary" name="saveInfos">Sauvegarder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow mt-3">
                        <div class="card-header">
                            Changer mon mot de passe
                        </div>
                        <div class="col-12 card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="profilename" id="currEmail">Mot de passe</label>
                                        <input id="profilename" type="password" class="form-control" name="password">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="profilesurname" id="currEmail">Retapez le mot de passe</label>
                                        <input id="profilesurname" type="password" class="form-control" name="rpassword">
                                    </div>
                                    <div class="col mt-4">
                                        <button class="btn btn-primary" name="savePassword">Sauvegarder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% if user.role == 'admin' %}
                    <div class="col-lg-12 mb-2">
                        <div class="card shadow">
                            <div class="card-header">
                                Infos Admin
                            </div>
                            <div class="col-12 card-body">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="label" for="inputImgUrl">Image URL</label>
                                            <input class="form-control" name="image" id="inputImgUrl" type="text" value="{{ user.image }}" required>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="label" for="inputAltImg">Image Alt</label>
                                            <input class="form-control" name="altImg" id="inputAltImg" type="text" value="{{ user.alt_img }}" required>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-6">
                                            <label class="label" for="inputCvLink">CV Link</label>
                                            <input class="form-control" name="cvLink" id="inputCvLink" type="text" value="{{ user.cv_link }}" required>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="label" for="inputShortDescription">A propos de moi</label>
                                            <textarea class="form-control" name="shortDescription" id="inputShortDescription" rows="1" required>{{ user.short_description }}</textarea>
                                        </div>
                                        <div class="col mt-4">
                                            <button class="btn btn-primary" name="saveInfosAdmin">Sauvegarder</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-12">
                    <div class="card shadow">
                        <div class="card-header">
                            Réseaux sociaux
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5 mb-sm-3 mb-xs-3">
                                    <label for="catchphrase">Nom</label>
                                    <input type="text" class="form-control" id="catchphrase" placeholder="Nom">
                                </div>
                                <div class="col-lg-6">
                                    <label for="catchphrase">URL</label>
                                    <input type="text" class="form-control" id="catchphrase" placeholder="URL">
                                </div>
                                <div class="col-lg-1">
                                    <label for="catchphrase">&nbsp;</label>
                                    <button class="form-control btn btn-outline-primary">
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-5 mb-sm-3 mb-xs-3">
                                    <input type="text" class="form-control" value="linkedIn" disabled>
                                </div>
                                <div class="col-lg-6">

                                    <input type="text" class="form-control" value="https://" disabled>
                                </div>
                                <div class="col-lg-1">

                                    <button class="form-control btn btn-outline-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
