{% extends 'public/base.html.twig' %}

{% block content %}
    <main>
        <div class="container section news list mt-5">
            <div class="row">
                <div class="col-sm-12 col-lg-8 m-auto">
                    <div class="h1 mb-4">Blog</div>
                    {% for article in articles %}
                    <article>
                        <div class="news-image">
                            <a href="/blog/{{ article.slug }}">
                                <img class="img-fluid" src="{{ uploadPath(article.image) }}" alt="{{ article.imageAlt }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="no-underline font-weight-bold">
                                <a href="/blog/{{ article.slug }}">{{ article.title }}</a>
                            </h2>
                            <p>{{ article.textHeader|length > 280 ? article.textHeader|striptags|slice(0, 280) ~ '...' : article.textHeader|striptags }}</p>
                            <div class="d-flex justify-content-between">
                                <span class="card-date text-muted small"><i class="fas fa-calendar-alt"></i> {{ article.createdAt|date('d M, Y') }}</span>
                                <span class="small"><a class="text-muted" href="/blog/{{ article.slug }}">Lire la suite</a></span>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="section py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="paginator">
                        <li><a href="#"><i class="fas fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
