{% extends 'public/base.html.twig' %}

{% block content %}
    <main>
        {% if about %}
            <header class="container d-flex justify-content-center my-5">
                <div class="col-lg-10 card_about-me">
                    <img class="about_img img-fluid" src="{{ about.image }}" alt="{{ about.alt_img }}"/>
                    <div class="about_infos mt-4">
                        <p class="about_name">
                            {{ about.last_name }} {{ about.first_name }}
                            <span>- <i class="far fa-file"></i> <a href="/upload/{{ about.cv_link }}" target="_blank">CV</a></span>
                        </p>
                        <p>{{ about.short_description|nl2br }}</p>
                    </div>
                </div>
            </header>
        {% endif %}
        <div class="container">
            <div class="h1 ml-3">Dernières actualités</div>
            <section class="hp-card-area mt-4">
                <div class="d-flex justify-content-between flex-wrap">
                    {% for article in articles %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card">
                                <a href="/blog/{{ article.slug }}">
                                    <img class="img-fluid img-auto-cover obj-center mh:255 rounded-top" src="{{ uploadPath(article.image) }}" alt="{{ article.imageAlt }}">
                                </a>
                                <div class="card-body">
                                    <h2 class="title">
                                        <a href="/blog/{{ article.slug }}">{{ article.title }}</a>
                                    </h2>
                                    <p class="card-text">{{ article.textHeader|length > 126 ? article.textHeader|striptags|slice(0, 126) ~ '...' : article.textHeader|striptags }}</p>
                                    <div class="d-flex justify-content-between">
                                        <span class="card-date text-muted small"><i class="fas fa-calendar-alt"></i> {{ article.createdAt|date('d M, Y') }}</span>
                                        <span class="small"><a class="text-muted" href="/blog/{{ article.slug }}">Lire la suite</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>Aucun article pour le moment.</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
